<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>doxygen method description</Title>
        </Header>
        <Snippet>
            <Code Language="CSharp">
<![CDATA[/*! brief description

full description

\param firstParam ...
\returns ...
*/]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>